page-home {
    .imageClass{
      max-width: 100%;
      width: 100%;
      max-height: 250px;
    }
    .ion-card {
        position: relative;
        text-align: center;
        height: 250px;
      }
    
      .card-title {
        position: absolute;
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
      }
    
      .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 52%;
        width: 100%;
        color: #fff;
      }

      .image-carousel {
        height: 150px;
      }
      
      @media screen and (min-height: 500px) {
        .image-carousel {
          height: 250px;
        }
      }
      div.swiper-pagination { 
        top:200px;
         bottom:inherit;

         height: 100%;
        background: rgba($color: rgb(175, 173, 173), $alpha: .2)
        }
    

      .gridCss{
          position: relative;
      }
      .bodyClass{
        background: url('../assets/imgs/download.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100% !important;
      }
      .buttonMenus{
        height: 120px;
        border-radius: 15px;
        background: url('../assets/imgs/btnback.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100% !important;

        -webkit-box-shadow: 1px 1px 29px 10px rgb(175, 173, 173);
        -moz-box-shadow: 1px 1px 29px 10px rgb(170, 169, 169);
        box-shadow: 1px 1px 29px 10px rgb(170, 168, 168);
      }
      .buttonPanel{
        padding: 10px ;
        height: 155px;  
        border-radius: 8px;
        border-style: outset ;
      }
      .ion-icon {
        font-size: 100px; //Preferred size here
    }

}
