<ion-menu [content]="content">
 
        <!-- The side menu title -->
        <ion-content class="custom">
            <ion-list no-lines class="sidebarHeaderCss">
            <ion-card ion-item text-center class="hide-card">
                <img *ngIf="!profilePic_sidebar" src="assets/imgs/slide1.jpg" class="custom-avatar"/>
                <h2 class="usernameDesign">Username</h2>
                <p>Firstname, Lastname</p>
                <hr>
            </ion-card>
          </ion-list>
            <!--
          <ion-toolbar>
            <ion-title>Menu</ion-title>
          </ion-toolbar>
        -->
            <ion-list *ngFor="let p of pages" >
              <button ion-item no-lines color="dark" (click)="openPage(p)">
                <ion-icon style="margin-right: 5px;" name="{{p.icon}}"></ion-icon> {{p.title}}
              </button>
            </ion-list>
          </ion-content>
 </ion-menu>

<ion-nav id="nav" [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>